---
interface Props {
    title: string;
    date: string;
    description: string;
    link: string;
    repo: string;
    url: string;
}

const { title, date, description, link, repo, url } = Astro.props;
---

<div class="card w-[270px] xs:w-[300px] h-[330px] flex flex-col items-center border rounded-xl px-5 py-3 transition-all gap-5">
    <h3 class="mx-auto h-12 flex items-center text-center text-base text-yellow-300/90">{title}</h3>
    <a 
        href={link}
        target="_blank"
        class="w-full hover:scale-105 hover:opacity-40"
    >

        <div class="w-full h-auto flex flex-col justify-center gap-y-5 text-center">
            <img class="w-[100%] h-[135px] border rounded-xl mx-auto object-fit" src={url} alt={title}>
        </div>
    </a>
    <span class="flex h-16 justify-center items-center text-sm text-center text-wrap">{description}</span>
</div>

<style>
    @media (max-width:600px) {
        .card {
            width:350px;
            height: auto;
            margin: 0 auto;
            transition: .3s;
        }
    }
</style>