---
import GitHubProfile from '@/assets/profiles/GitHubProfile.astro';

interface Props {
    title: string;
    date: string;
    description: string;
    link: string;
    repo: string;
    url: string;
}

const { title, date, description, link, repo, url } = Astro.props;
---

<div class="card-project w-[370px] h-[400px] card border rounded-xl mx-auto flex flex-col justify-center items-center">
    
    <h3 class="w-[90%] mx-auto text-wrap flex items-center justify-center text-center text-sm uppercase semibold !py-3">{title}</h3>
    
    <a 
        href={link}
        target="_blank"
        class="hover:scale-105 hover:opacity-70"
    >
        <img class="w-[300px] h-[170px] border rounded-md" src={url} alt={title}>
    </a>
    <p class="w-[90%] flex h-[90px] justify-center items-center text-xs text-center">{description}</p>
    <a
        class="hover:scale-105 hover:text-yellow-600/70" 
        href={repo}
        target="_blank"
    >
        <div class="flex justify-center items-center gap-x-3 !my-3">
            <GitHubProfile class="size-6" />
            <span> Ver repositorio</span>
        </div>
    </a>
</div>
<style>
    @media(max-width:400px) {
        
        .card-project {
            height: auto;
        }
    }

</style>